@font-face {
    font-family: 'nhl_st_louisregular';
    src: url('nhl_st_louis-webfont.woff2') format('woff2'),
         url('nhl_st_louis-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: white;
    width: 460px;
    height: 300px;
}

#element {
    position: relative;
    height: 300px;
    width: 460px;
}

#homeLogoBox {
    
    position: absolute;
    top: 31.25%;
    right: 8%;
    height: 35%;
    width: 29%;

}

#awayLogoBox {
    
    position: absolute;
    top: 31.25%;
    left: 8%;
    height: 35%;
    width: 29%;
    
}
.teamLogo {
    
    height: 100%;
    width: 100%;

}


#banner{

    text-align: center;
    height: 24%;
    width: 100%;
    font-family: 'nhl_st_louisregular', sans-serif;
    font-size: 387.5%;
    line-height: 125%;
    background-color: #002f87;
    color: #FCb514;
    letter-spacing: 2px;
    margin: 0 auto;

}

#homeScore {
    position: absolute;
    text-align: left;
    right: 37%;
    top: 50%;
    color: #FCb514;
    font-size: 387.5%;
    font-family: 'nhl_st_louisregular', sans-serif;

    
}

#awayScore {
    position: absolute;
    text-align: right;
    left: 37%;
    top: 50%;
    color: #FCb514;
    font-size: 387.5%;
    font-family: 'nhl_st_louisregular', sans-serif;
   
}


#homeShots {
    position: absolute;
    text-align: right;
    right: 37%;
    top: 72%;
    color: #FCb514;
    text-align: right;
    font-size: 125%;
    font-family: 'nhl_st_louisregular', sans-serif;
}

#awayShots {
    position: absolute;
    text-align: left;
    left: 37%;
    top: 72%;
    color: #FCb514;
    text-align: right;
    font-size: 125%;
    font-family: 'nhl_st_louisregular', sans-serif;
}


#sog {
    top: 66%;
    color: #002f87;
    text-align: center;
    margin: 0 auto;
    padding-top: 6.25%;
    font-size: 125%;
    font-family: 'nhl_st_louisregular', sans-serif;
    line-height: 6.25%;
}


#gameStatus {
    position: absolute;
    font-family: Century Gothic, sans-serif;
    font-size: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
}

#periodTime {
    top: 40%;
    color: #002f87;
    text-align: center;
    font-size: 125%;
    font-family: 'nhl_st_louisregular', sans-serif;
    line-height: 100%
}

#period {
    top: 25%;
    color: #002f87;
    text-align: center;
    padding-top: 18%;
    font-size: 125%;
    font-family: 'nhl_st_louisregular', sans-serif;
    line-height: 100%;
}

#status {
    position: absolute;
    bottom: 0px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 auto;
    height: 16.25%;
    width: 100%;
    font-family: 'nhl_st_louisregular', sans-serif;
    font-size: 250%;
    line-height: 130%;
    background-color: #002f87;
    color: #FCb514;
}

#date {
    top: 40.625%;
    color: #002f87;
    text-align: center;
    padding-top: 10.5%;
    font-size: 125%;
    font-family: 'nhl_st_louisregular', sans-serif;
    line-height: 100%;
}

#time {
    top: 34.375%;
    color: #002f87;
    text-align: center;
    font-size: 125%;
    font-family: 'nhl_st_louisregular', sans-serif;
    line-height: 100%;
}

#vs {
    top: 65.625%;
    color: #FCb514;
    text-align: center;
    margin: 0 auto;
    padding-top: 6.25%;
    font-size: 125%;
    font-family: 'nhl_st_louisregular', sans-serif;
    line-height: 100%
}

#nextGame {
    height: 100%;
    width: 15%;
    position: absolute;
    right: 0%;

}

#prevGame {
    height: 100%; 
    width: 15%;
    position: absolute;
    left: 0%;
}