<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
        {% block refreshtime %} 
        {% endblock %}     
    </head>
    <body>
    <div id="element">
        <a href='/' style="text-decoration: none">
            <div id="banner">
                St Louis Blues
            </div>
        </a>
        {% if game.id != 82 and game.id != 1 %}
            <a href="/game?id={{game.id + 1}}">
                <div id='nextGame'></div>
            </a>
            <a href="/game?id={{game.id - 1}}">
                <div id='prevGame'></div>
            </a>
        {% elif game.id == 1 %}
            <a href="/game?id={{game.id + 1}}">
                <div id='nextGame'></div>
            </a>
        {% else %}
            <a href="/game?id={{game.id - 1}}">
                <div id='prevGame'></div>
            </a>
        {% endif %}

        {% block content %}
        {% endblock %}
        

        <div id="status">
            {{game_status}}
        </div>

    </div>
    </body>
</html>