{% extends "base.html" %}
{% block refreshtime %}
    <script>
        
         function autoRefresh()
        {
            window.location = window.location.href;
        }
        
         setInterval('autoRefresh()', 120000);
    </script>
{% endblock %}
{% block content %}
    {% if game_stats == 'Preview' %}
        <div id="awayLogoBox">
            <img class="teamLogo" src= {{ url_for('static', filename = game.away_team.replace(' ', '_') + '.svg') }} alt= game.away_team + ' Logo'>
        </div>
        
        <div id="awayScore">
            3
        </div>
        <div id="awayShots">
            29
        </div>
            
        <div id="homeLogoBox">
            <img class="teamLogo" src= {{ url_for('static', filename = game.home_team.replace(' ', '_') + '.svg') }} alt= game.home_team + ' Logo'>
        </div>
        <div id="homeScore">
            2
        </div>
        <div id="homeShots">
            32
        </div>
        
        <div id="period">
            1st
        </div>
        <div id="periodTime">
            00:00
        </div>
        <div id="sog">
            SOG
        </div>
            
        
    {% elif game_stats == 'Final' %}
        <p>Final Score:</p>
        <table>
            <tr>
                <td><img src= {{ url_for('static', filename = game.away_team.replace(' ', '_') + '.svg') }} alt= game.away_team + ' Logo'
                    height="100px" width="100px"></td>
                <td><p>{{game_stats.get('away_score')}}</p></td>
            </tr>
            <tr>
                <td><img src= {{ url_for('static', filename = game.home_team.replace(' ', '_') + '.svg') }} alt= game.home_team + ' Logo'
                    height="100px" width="100px"></td>
                <td><p>{{game_stats.get('home_score')}}</p></td>
            </tr>
        </table>
    {% else %}
        <div id="awayLogoBox">
            <img class="teamLogo" src= {{ url_for('static', filename = game.away_team.replace(' ', '_') + '.svg') }} alt= game.away_team + ' Logo'>
        </div>
        
        <div id="awayScore">
            {{game_stats.get('away_score')}}
        </div>
        <div id="awayShots">
            {{game_stats.get('away_shots')}}
        </div>
            
        <div id="homeLogoBox">
            <img class="teamLogo" src= {{ url_for('static', filename = game.home_team.replace(' ', '_') + '.svg') }} alt= game.home_team + ' Logo'>
        </div>
        <div id="homeScore">
            {{game_stats.get('home_score')}}
        </div>
        <div id="homeShots">
            {{game_stats.get('home_shots')}}
        </div>
        
        <div id="period">
            {{game_stats.get('period')}}
        </div>
        <div id="periodTime">
            {{game_stats.get('game_time')}}
        </div>
        <div id="sog">
            SOG
        </div>

    {% endif %} 
{% endblock %}