{% extends "base.html" %}
{% block refreshtime %}
    <script>
        
         function autoRefresh()
        {
            window.location = window.location.href;
        }
        
         setInterval('autoRefresh()', 60000);
    </script>
{% endblock %}
{% block content %}
    {% if game_stats == 'Preview' %}
        <p>Beginning soon:</p>
    
            <div id="awayLogoBox"><img class="teamLogo" src= {{ url_for('static', filename = game.away_team.replace(' ', '_') + '.svg') }} alt= game.away_team + ' Logo'
                height="100px" width="100px"></div>
            <div id="vs"><span>VS.</span></div>
            <div id="homeLogoBox"><img class="teamLogo" src= {{ url_for('static', filename = game.home_team.replace(' ', '_') + '.svg') }} alt= game.home_team + ' Logo'
                height="100px" width="100px"></div>
        
    {% elif game_stats == 'Final' %}
        <p>Final Score:</p>
        <table>
            <tr>
                <td><img src= {{ url_for('static', filename = game.away_team.replace(' ', '_') + '.svg') }} alt= game.away_team + ' Logo'
                    height="100px" width="100px"></td>
                <td><p>{{game_stats.get('away_score')}}</p></td>
            </tr>
            <tr>
                <td><img src= {{ url_for('static', filename = game.home_team.replace(' ', '_') + '.svg') }} alt= game.home_team + ' Logo'
                    height="100px" width="100px"></td>
                <td><p>{{game_stats.get('home_score')}}</p></td>
            </tr>
        </table>
    {% else %}
        <div id="awayLogoBox">
            <img class="teamLogo" src= {{ url_for('static', filename = game.away_team.replace(' ', '_') + '.svg') }} alt= game.away_team + ' Logo'>
        </div>
        
        <div>
            <p>{{game_stats.get('away_score')}}</p>
        </div>
        <div>
            <p>Shots:</p>
        </div>
        <div>
            <p>{{game_stats.get('away_shots')}}</p>
        </div>
            
        <div id="homeLogoBox">
            <img class="teamLogo" src= {{ url_for('static', filename = game.home_team.replace(' ', '_') + '.svg') }} alt= game.home_team + ' Logo'>
        </div>
        <div>
            <p>{{game_stats.get('home_score')}}</p>
        </div>
        <div>
            <p>Shots:</p>
        </div>
        <div>
            <p>{{game_stats.get('home_shots')}}</p>
        </div>

        <p>Period:</p>
            <p>{{game_stats.get('period')}}</p>
        <p>Time:</p>
            <p>{{game_stats.get('game_time')}}</p>

    {% endif %} 
{% endblock %}