{% extends "base.html" %}
{% block refreshtime %}
    <script>
        
         function autoRefresh()
        {
            window.location = window.location.href;
        }
        
         setInterval('autoRefresh()', 21600000);
    </script>
{% endblock %}
{% block content %}
    <p>Final Score:</p>
    <table>
        <tr>
            <td><img src= {{ url_for('static', filename = game.away_team.replace(' ', '_') + '.svg') }} alt= game.away_team + ' Logo'
                height="100px" width="100px"></td>
            <td>{{game.away_goals}}</td>
        </tr>
        <tr>
            <td><img src= {{ url_for('static', filename = game.home_team.replace(' ', '_') + '.svg') }} alt= game.home_team + ' Logo'
                height="100px" width="100px"></td>
            <td>{{game.home_goals}}</td>
        </tr>
        <tr>
            <td><p>{{game.date}}</p></td>
        </tr>
    </table>
{% endblock %}